body{
    background: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
   margin-left: 200px;
}

.mobile .img1{
    position: absolute;
    right:60vw;
    top:10vh;
    height: 430px;
    width: 300px;
    left: 28%;
}
.mobile .img2{
    position: absolute;
    left: 26.8vw;
    top: 19vh;
    height: 304px;
    width: 163px;
    left: 530px;
}
.mobile .img3{
    position: absolute;
    left: 26.9vw;
    top: 19vh;
    height: 304px;
    width: 163px;
    opacity: 0.8;
    left: 530px;
}
.container{
    height: 350px;
    width: 290px;
    margin-top: 30px;
    background: white;
    border: 1px solid rgb(156, 153, 153);
}
.insta_logo{
    height: 40px;
    margin-top: 40px;
    width: 150px;
    cursor: pointer;
    margin-left: 80px;
}
.email{
    margin-left: 30px;
    padding: 9px;
    background: whitesmoke;
    width: 80%;
    border: 1px solid rgb(234, 234, 234);
}
::placeholder{
    font-size: 11px;
    color: rgb(173, 173, 173);
}
.password{
    margin-top: 10px;
}
.container button{
    background-color: rgb(4, 152, 250);
    border: none;
    padding: 6px;
    width: 80%;
    margin-left: 30px;
    color: white;
    border-radius: 3px;
    font-family: sans-serif;
    font-weight: bolder;
}
.or{
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    color: rgb(191, 191, 191);
}
.or::before{
    content: '';
    position: absolute;
    height: 1px ;
    width: 100px;
    background-color: rgb(191, 191, 191);
    margin-top: 5px;
    margin-left: 26px;
}
.or::after{
    content: '';
    position: absolute;
    height: 1px ;
    width: 95px;
    background-color: rgb(191, 191, 191);
    margin-top: 5px;
    margin-left: -125px;
}
.facebook{
    height: 16px;
    width: 16px;
    margin-left: 80px; 
    cursor: pointer;
}
.fb{
    color: rgba(6, 36, 100, 0.825);
    font-family: sans-serif;
    margin-left: 105px;
    margin-top: -20px;
    font-size: 13px;
    font-weight: bolder;
    cursor: pointer;
}
.forgot{
    color: rgb(81, 80, 80);
    font-size: 10px;
    font-family: sans-serif;
    margin-left: 95px;
    font-weight: lighter;
    margin-top: -25px;
    cursor: pointer;
}
.dont span{
    color: #03a6eb;
    font-weight: bolder;
}
.get{
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
}
.img img{
    height: 35px;
    width: 120px;
    margin-left: 15px;
    vertical-align: baseline;
}
.facebook {
    margin-left: 50px;
}
.fb{
    margin-left: 80px;
}
.dont{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 290px;
    margin-top: 10px;
    background: white;
    border: 1px solid rgb(156, 153, 153);
}
.footer{
    position: relative;
    top: 30px;
    right: 280px;
    display: grid;
    text-align: center;
    width: 200%;
    font-size: 10px;
    color: rgb(158, 158, 158);
    user-select: none;
}
